/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* evita el scroll lateral y vertical */
}


/*  Fondo general */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100vw;      
  background: linear-gradient(to right, #5fc4ff, #5fc4ff);
  font-family: "Poppins", sans-serif;
}

/*  Card  */
.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  width: 420px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Título  */
.login-form h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-weight: 700;
}

/*  Etiquetas  */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

/*  Campos  */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s;
}

input:focus {
  border-color: #5fffff;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 126, 95, 0.4);
}

/*  Botón  */
button {
  width: 100%;
  padding: 14px;
  background-color: #ff5fc2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #feb47b;
}

/*  Mensaje de error  */
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

/*  Link de registro  */
.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #5f8aff;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/*  Responsivo */
@media (max-width: 600px) {
  .login-form {
    width: 90%;
    padding: 25px;
  }

  button {
    font-size: 15px;
  }
}
